// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #eee;
$color-grey-light-2: #f7f7f7;
$color-grey-dark: #777;

$color-primary: yellow;
$color-primary-light: #f8f895;
$color-primary-dark: orange;

// SIZES
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
